[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
tqdm = "*"
jupyterlab = "*"
jupyterlab-vim = "*"
pgmpy = "*"
pygraphviz = "*"

[dev-packages]
ipdb = "*"
pretty-errors = "*"
ipython = "*"
pympler = "*"
jedi = "*"

[requires]
python_version = "3.10"
